extends layout
block content
	div.container
		div.col-md-4
			div.row
				a.btn.btn-success(href="/dashboard") Wall
			div.row
				a.btn.btn-success(href="/scorecard") Scorecards
			div.row
				a.btn.btn-success(href="/friends") Friends
			div.row
				a.btn.btn-success(href="/matches") matches
			if admin
				div.row
					a.btn.btn-success(href="/adduser") Add User
		div.col-md-8
			p hier komt de content voor het dashboard
			block dashboardcontent