extends dashboard
block dashboardcontent
	div.friend
		h2 Vriendje 1
		p Ik ben je vriendje
		a(href="#") Bekijk mijn profiel
	div.friend
		h2 Vriendje 2
		p Ik ben je vriendje
		a(href="#") Bekijk mijn profiel
	div.friend
		h2 Vriendje 3
		p Ik ben je vriendje
		a(href="#") Bekijk mijn profiel
	div.friend
		h2 Vriendje 4
		p Ik ben je vriendje
		a(href="#") Bekijk mijn profiel