
extends layout
block content
	div.container
		form#register
			h2 Registeren
			input.form-control(type="text", placeholder="Naam")
			input.form-control(type="text", placeholder="Email Adres")
			input.form-control(type="password", placeholder="Wachtwoord")
			button.btn.btn-lg.btn-primary.btn-block(type=submit) Registeren